@model List<ApplicationCore.Models.MovieCardModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var movieCard in Model)
{
    <h2>
        @movieCard.Id
    </h2>
    <h3>
        @movieCard.Title
    </h3>
}
